.footer {
    overflow-x: hidden;
    position: relative;
    top: 400px;
    right: 8px;
    width: 1042px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(31, 38, 174); 
    padding: 20px 250px;
  
    &-left {
      p {
        color: white; 
      }
    }
  
    &-right {
      a {
        text-decoration: none; 
        color: white; 
        margin-right: 20px; 
        img {
          max-width: 30px;
          height: auto; 
          margin-right: 10px; 
        }
      }
    }
  }