.header {
  height: 60px;
  position: relative;
  bottom: 10px;
  right: 8px;
  width: 1342px; /* Set the width to 100% */

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(31, 38, 174);
  padding: 20px 100px;

  &-left {
    cursor: pointer;
    h1 {
      font: 900 40px/1 "Arial", sans-serif;
      color: white;
      letter-spacing: 1px;
    }
  }

  &-right {
    button {
      font-size: 20px;
      padding: 10px 15px;
      background-color: blueviolet;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: blue;
        transition: 0.5s;
        transform: translateY(-5px);
      }
      &:active{
        background-color: blueviolet;
        transition: 0.0001s;
        transform: translateY(-2px);
      }
    }
  }
}