<!-- reservation.component.html -->
<div class="reservation-form">
  <h2>Make a Reservation</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="from">From:</label>
      <select id="from" name="from" [(ngModel)]="fromInput1">
        <option value="">Departure</option>
        <option *ngFor="let station of stations" [value]="station.name">{{ station.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="to">To:</label>
      <select id="to" name="to" [(ngModel)]="toInput1">
        <option value="">Destination</option>
        <option *ngFor="let station of stations" [value]="station.name">{{ station.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="departure-date">Departure Date:</label>
      <input type="date" id="departure-date" name="departure-date" [(ngModel)]="dateInput1">
    </div>
    <div class="form-group">
      <label for="passengers">Passengers:</label>
      <input type="number" id="passengers" name="passengers" [(ngModel)]="passengersInput" min="1" max="10">
    </div>
    <button type="submit" [routerLink]="['/trainList']" (click)="onSubmit()">Find Train</button>
  </form>
</div>
