<div class="section-main">
    <div class="section-left">
        <img src="https://images.hdqwalls.com/wallpapers/purple-aesthetic-train-57.jpg" alt="">
    </div>
    <div class="section-right">
        <div class="title">
            <h2>Train Tickets App</h2>
        </div>
        <div class="about">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="container-list">
            <div class="container">
                <img src="https://cdn3d.iconscout.com/3d/premium/thumb/offer-9687806-7914597.png" alt="">
                <h4>unlimited offers</h4>
            </div>
            <div class="container">
                <img src="https://static.vecteezy.com/system/resources/previews/005/747/712/non_2x/24-hours-customer-service-icon-24-7-support-icon-sign-button-customer-service-icon-vector.jpg" alt="">
                <h4>24/7 support</h4>
            </div>
            <div class="container">
                <img src="https://logowik.com/content/uploads/images/secure-payment2785.jpg" alt="">
                <h4>secure payments</h4>
            </div>
        </div>
    </div>
</div>